.feedback-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
  margin-top: 200px;
  height: 100vh;
}

.feedback-container .invis-container {
  grid-column: 3;
}

.feedback-container .form-group {
  margin: 0px;
}

.form.feedback-card {
  width: 100%;
  grid-column: 3;
  margin: 0px;
  padding: 20px 24px 24px 24px;
}

.form.feedback-card .title{
  color: #333333;
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 13px;
}

.form.feedback-card .title.form-title {
  text-align: center;
}

.form.feedback-card .form-control {
  font-family: SourceSansPro;
  color: #333333;
}

.form.feedback-card .form-control::placeholder {
  color: #94a8c2;
}

.form.feedback-card .form-control:focus {
  box-shadow: none;
}

.form.feedback-card .form-text {
  color: #94a8c2;
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 11px;
  font-family: SourceSansPro;
}

.submit-container {
  text-align: right;
}

@media only screen and (max-width: 1600px) {
  .feedback-container {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .feedback-container .invis-container {
    grid-column: 2;
  }
}
