.feedback-container.send {
  display: grid;
  height: 50vh;
  grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
  justify-items: center;
}

.form.feedback-card.feedback-send.error {
  border-top: 6px solid #9e0022;
}

.form.feedback-card.feedback-send {
  grid-column: 3;
}

.form.feedback-card .send-title {
  text-align: left;
}

.result-container {
  margin: 5px;
}

.result-container .header {
  display: flex;
}

.status-image {
  width: 24px;
  height: 24px;
  margin: 6px 8px 5px 1px;
}

.moon-loader-wrapper {
  grid-column: 3;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .moon-loader-wrapper {
    grid-column: 1;
  }
  .feedback-container.send {
    grid-template-columns: 1fr;
    align-items: center;
  }
  .form.feedback-card.feedback-send {
    grid-column: 1;
  }
}


@media only screen and (min-width: 600px) {
  .feedback-container.send {
    align-items: center;
  }
  .form.feedback-card.feedback-send {
    grid-column: 3;
    width: 450px;
  }
}
