@-webkit-keyframes input-focus {
  from {
    border-bottom: 1px solid #c8d5e6;
  }
  to {
    border-bottom: 1px solid #00a3da;
  }
}

/* Standard syntax */
@keyframes input-focus {
  from {
    border-bottom: 1px solid #c8d5e6;
  }
  to {
    border-bottom: 1px solid #00a3da;
  }
}

input.input:placeholder-shown {
  font-weight: normal;
}

.input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #c8d5e6;
  width: 100%;
  color: #333333;
  font-family: SourceSansPro;
  margin: 12px 0px 0px 0px;
}

.input:focus {
  -webkit-animation-name: input-focus;
  -webkit-animation-duration: 0.3s;
  animation-name: input-focus;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.text-input {
  font-size: 13px;
}

.text-input.large {
  font-size: 24px;
  font-weight: bold;
}

.input.question-input {
  font-size: 16px;
  font-weight: bold;
}
