.feedback-container {
  display: grid;
  grid-template-columns: 2fr 2fr 3fr 2fr 2fr;
  margin-top: 200px;
}

.feedback-container .form-group {
  text-align: center;
}

div.form.feedback-form {
  width: 100%;
  grid-column: 3;
  margin: 0px;
  padding: 24px 24px 10px 24px;
}

div.form.feedback-form label {
  font-size: 24px;
  font-family: SourceSansPro;
  width: 100%;
}

div.form.feedback-form textarea {
  font-family: SourceSansPro;
  margin-top: 22px;
}

div .feedback-container .invis-container {
  grid-column: 3;
}

button.submit.filled1 {
  float: right;
  margin-top: 8px;
}
