h1.forgot-password {
  color: #333333;
  font-family: SourceSansPro;
  font-size: 24px;
  margin-top: 15px;
  height: 48px;
}

form.forgot-password button.forgot-password {
  width: 100%;
  background-color: #00a4d8;
  border-color: transparent;
  border-radius: 6px;
  margin-top: 7px;
}

form.forgot-password button.forgot-password:disabled {
  background-color: #00a4d8;
  border-color: #00a4d8;
}

form.forgot-password button.forgot-password:hover {
  background-color: #0294c0;
  border-color: transparent;
  background-color: #11b7ef;
}

form.forgot-password button.forgot-password:focus {
  background-color: #0a90bd;
}

form.forgot-password button.forgot-password:active {
  background-color: #0a90bd !important;
  border-color: #0a90bd !important;
}

.return-sign-in-text {
  color: #00a3da;
  font-family: SourceSansPro;
  font-size: 13px;
  margin-top: 20px;
  text-decoration: underline;
}

.return-sign-in-text:hover {
  color: #007ca5;
  cursor: pointer;
}
