h1.sign-in {
  height: 54px;
  color: #333333;
  font-family: SourceSansPro;
  font-size: 36px;
  font-weight: bold;
}

small.form-text {
  margin-top: -10px;
  margin-bottom: 7px;
}

.forgot-password {
  color: #1b1b1b;
  font-family: SourceSansPro;
  font-size: 13px;
  line-height: 18px;
}

a.forgot-password:hover {
  color: #1b1b1b !important;
  cursor: pointer;
}

form.sign-in button.sign-in {
  width: 100%;
  background-color: #00a4d8;
  border-color: transparent;
  border-radius: 6px;
  margin-top: 7px;
}

form.sign-in button.sign-in:disabled {
  background-color: #00a4d8;
  border-color: #00a4d8;
}

form.sign-in button.sign-in:hover {
  background-color: #0294c0;
  border-color: transparent;
  background-color: #11b7ef;
}

form.sign-in button.sign-in:focus {
  background-color: #0a90bd;
}

form.sign-in button.sign-in:active {
  background-color: #0a90bd !important;
  border-color: #0a90bd !important;
}

div.sign-text {
  color: #ffffff;
  font-family: SourceSansPro;
  font-weight: bold;
  letter-spacing: 0.3px;
}

label.keep-signed-in {
  color: #333333;
  font-family: Overpass;
  font-size: 12px;
  letter-spacing: 0.25px;
}

input.keep-signed-in {
  margin-top: 7px;
}

div.no-account-row {
  align-items: center;
}

div.no-account-row hr {
  background-color: #c1c2c2 !important;
}

div.no-account-text {
  color: #333333;
  font-family: SourceSansPro;
  font-size: 13px;
  line-height: 18px;
  margin-top: 16px;
  padding: 0px;
}

form.sign-in button.sign-up {
  width: 100%;
  background-color: transparent;
  border-color: #00a4d8;
  border-width: 2px;
  margin-top: 10px;
  color: #00a4d8;
}

form.sign-in button.sign-up:hover {
  background-color: #00a4d8;
  border-color: #00a4d8;
  color: white;
}

form.sign-in button.sign-up:active {
  background-color: #0a90bd !important;
  border-color: #0a90bd !important;
}

div.sign-up-text {
  font-family: SourceSansPro;
  font-weight: bold;
  letter-spacing: 0.3px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
