.header .sign-in {
  height: 54px;
  color: #333333;
  font-family: SourceSansPro;
  font-size: 36px;
  font-weight: bold;
}

.info.form-text.text-muted.text-right {
  margin-top: -10px;
  margin-bottom: 7px;
}

.forgot-password {
  color: #1b1b1b;
  font-family: SourceSansPro;
  font-size: 13px;
  line-height: 18px;
}

.forgot-password:hover {
  color: #1b1b1b !important;
  cursor: pointer;
}

.form .sign-in.filled1 {
  width: 100%;
  background-color: #00a4d8;
  border-color: transparent;
  border-radius: 6px;
  margin-top: 7px;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
}

.form .sign-up.empty1 {
  width: 100%;
  height: 42px;
  font-size: 18px;
  font-weight: bold;
}

.sign-text {
  color: #ffffff;
  font-family: SourceSansPro;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.keep-signed-in {
  color: #333333;
  font-family: Overpass;
  font-size: 12px;
  letter-spacing: 0.25px;
}

.form-check-input.keep-signed-in {
  margin-top: 7px;
}

.no-account-row {
  align-items: center;
}

.no-account-row hr {
  background-color: #c1c2c2 !important;
}

.no-account-text {
  color: #333333;
  font-family: SourceSansPro;
  font-size: 13px;
  line-height: 18px;
  margin-top: 16px;
  padding: 0px;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}
