div.container-fluid.dashboard-container {
  margin-top: 60px;
}

.surveys-title {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.main-view {
  grid-column-start: 2;
  justify-self: center;
}

.surveys-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 11rem; /** 1 above poll-card width **/
  justify-content: center;
}

.all-surveys-container {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  max-height: 33rem;
  justify-content: center;
}

p.show-all {
  margin-top: 10px;
  float: right;
}

p.show-all:hover {
  cursor: pointer;
}

.loader {
  width: 100%;
}
