.widget-container {
  height: 42px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto auto auto;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.widget-container:hover {
  cursor: move;
}

.widget-container > img {
  max-width: 22px;
  max-height: 22px;
  justify-content: center;
}

.widget-container > img.left-img {
  grid-column: 1;
  align-self: center;
  margin-left: 8px;
  margin-right: 6px;
}

.widget-container > img.move {
  grid-column: 3;
  align-self: center;
  margin-right: 8px;
  margin-left: 6px;
  margin-top: 2px;
}

.widget-container > p {
  margin: 0;
  grid-column: 2;
  align-self: center;
  font-family: SourceSansPro;
  font-size: 16px;
  color: #333333;
  width: 105px;
}

@media screen and (max-width: 1750px) {
  .widget-container {
    margin: 12px;
  }
}
