.form.modal-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.form.modal-form .title {
  font-family: SourceSansPro;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  grid-row: 1;
}

.form.modal-form .body {
  grid-row: 2;
}

.form.modal-form .modal-btns-form {
  grid-row: 3;
}

.form.modal-form .modal-btns-form .btn {
  margin-right: 10px;
}

form .btn.yes-btn {
  width: auto;
}

form .btn.cancel-btn {
  width: auto;
}
