/** IMPORT COMMOM **/
@import "styles/fonts.css";
@import "styles/animations.css";

/** IMPORT NAV STYLE **/
@import "styles/navbar.css";

/** IMPORT NOT FOUND PAGE STYLE **/
@import "styles/not-found.css";

/** IMPORT COMMON STYLES **/
@import "styles/common/input.css";

/** IMPORT AUTH STYLES **/
@import "styles/auth/signin.css";
@import "styles/auth/signup.css";
@import "styles/auth/forgot-password.css";
@import "styles/auth/pw-email-sent.css";

/** IMPORT DASHBOARD STYLES **/
@import "styles/dashboard/dashboard.css";
@import "styles/dashboard/cards/poll-card.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: scroll;
}

.form-row.row {
  justify-content: center;
  min-height: 100vh;
  align-content: center;
  position: relative;
  margin-top: -90px;
  z-index: 0;
}

.form {
  background-color: #ffffff;
  border-top: 6px solid #00a4d8;
  border-radius: 4px;
  padding: 40px;
  vertical-align: middle;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
