@font-face {
  font-family: Overpass;
  src: url(./fonts/overpass-regular.otf);
}

@font-face {
  font-family: SourceSansPro;
  src: url(./fonts/SourceSansPro-Regular.otf);
}

@keyframes linkActive {
  from {
    border-bottom: 3px solid transparent;
  }
  to {
    border-bottom: 3px solid #00a4d8;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin-bottom: 30px;
  background-color: #ffffff;
  min-height: 60px;
  padding-left: 20% !important;
  padding-right: 20% !important;
  padding-bottom: 0px !important;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.66px;
  line-height: 18px;
  margin-bottom: 8px;
}

.navbar-nav .nav-link {
  color: #333333;
  font-family: Overpass;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.66px;
  line-height: 33px;
  margin-left: 30px;
  border-bottom: 3px solid transparent;
}

.navbar-nav .nav-link.active {
  border-bottom: 3px solid #00a4d8;
  animation-name: linkActive;
  animation-duration: 0.5s;
}

.form-row.row {
  justify-content: center;
}

.form {
  background-color: #ffffff;
  border-top: 6px solid #00a4d8;
  border-radius: 4px;
  padding: 40px;
  margin-top: 20%;
}

h1.sign-in {
  height: 54px;
  color: #333333;
  font-family: SourceSansPro;
  font-size: 36px;
  font-weight: bold;
}

label.basic {
  height: 14px;
  width: 238.64px;
  color: #14232c;
  font-family: SourceSansPro;
  font-size: 13px;
  font-weight: 600;
  line-height: 14px;
}

.forgot-password {
  height: 18px;
  width: 97px;
  color: #333333;
  font-family: SourceSansPro;
  font-size: 13px;
  line-height: 18px;
}

button.sign-in {
  width: 100%;
  background-color: #00a4d8;
  border-color: transparent;
}

div.sign-in-text {
  color: #ffffff;
  font-family: SourceSansPro;
  font-weight: bold;
  letter-spacing: 0.3px;
}

label.keep-signed-in {
  color: #333333;
  font-family: Overpass;
  font-size: 12px;
  letter-spacing: 0.25px;
}

input.keep-signed-in {
  margin-top: 7px;
}

div.no-account-row {
  align-items: center;
}

div.no-account-row hr {
  background-color: #c1c2c2 !important;
}

div.no-account-text {
  color: #333333;
  font-family: SourceSansPro;
  font-size: 13px;
  line-height: 18px;
  margin-top: 16px;
  padding: 0px;
}

button.sign-up {
  width: 100%;
  background-color: transparent;
  border-color: #00a4d8;
  border-width: 2px;
  margin-top: 10px;
}

div.sign-up-text {
  color: #00a4d8;
  font-family: SourceSansPro;
  font-weight: bold;
  letter-spacing: 0.3px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
