.widget-form {
  background-color: blue;
  height: 100%;
  padding-bottom: 20px;
  border-radius: 6px;
  background-color: #ffffff;
  border-top: 6px solid #00a4d8;
}

.drag-handle-selector {
  cursor: move;
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
}
